<div class="row">
  <h2>Some about page shit</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur blanditiis eveniet ex! Ratione, iste, culpa cum esse vitae impedit incidunt iusto nobis beatae cumque rem quo hic commodi rerum accusantium.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, expedita, voluptatem, modi molestias perspiciatis earum repudiandae commodi quas quaerat eaque eligendi necessitatibus impedit dolor quisquam fugiat rem nostrum reprehenderit quae?</p>
</div>
