<h3>The easiest way to capture the soundtrack of your memories</h3>
<span id="create-button"><%= link_to "Create your own", new_clip_path, class: "button" %></span>
<div id="home-wrapper">
  <%= render 'layouts/clip' %>
</div>

