<div class="row" id="home-wrapper">
 <div class="large-1 columns" id="home-nav">
   <ul class="side-nav">
     <li><a href="#">Home</a></li>
     <li><a href="#">Create</a></li>
     <li><a href="#">About</a></li>
   </ul>
 </div>
 <div class="large-11 columns">
   <h1 id="logo">Clip.It</h1>
   <h3>Clip.It - the easiest way to share the soundtrack of your memories</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, voluptate in quidem voluptatem modi culpa assumenda alias rem odit a animi dolore labore distinctio tempore harum eum sed aliquid sunt!</p>
 </div>
</div>
