<div class="row">
  <h3>Clip.It - A Story</h3>
  <p>
    The story of Clip.It begins in Amsterdam. 6 friends spent an unforgettable weekend of debauchery in one of Europe's
    more sinful cities. Whilst there, the group played Kendrick Lamar's newest album, <a href="https://itunes.apple.com/us/album/good-kid-m.a.a.d.-city-deluxe/id622710488">Good Kid, MAAD City</a>, on repeat. It became the soundtrack of the weekend.
  </p>
  <p>
    We wanted a way to capture various moments of our weekend so we took photos. But we wanted a stronger link to our memories.
    Realizing that each of those photos had some music playing in the background, the idea of Clip.It was born.
  </p>
</div>
