<h3>Clip.It - A Story</h3>
<p>
  The story of Clip.It begins in Amsterdam. 6 friends spent an unforgettable weekend of debauchery in one of Europe's
  more sinful cities. Whilst there, the group played Kendrick Lamar's newest album, <a href="https://itunes.apple.com/us/album/good-kid-m.a.a.d.-city-deluxe/id622710488">Good Kid, MAAD City</a>, on repeat. It became the soundtrack of the weekend.
</p>
<p>
  Memories are part of an intangible thread that is woven into the fiber of our minds. They exist in the hundreds of millions, capturing everything from the mundane to the extraordinary. Most importantly, they evoke visceral reactions, helping us to not only remember the more important events of our lives, but also to re-live them as well.
</p>
<p>
  But because memories exist in such a large quantity, it can be hard to recollect the ones most important to you. Studies have shown that a part of the brain called the sensory cortex is, at least, partially responsible for creating links between memories, images, and sound. Clip.It is built to help users capture these memories, and revisit them on demand.
</p>
<p>
  We use photographs as a static medium to capture memories. And we use music as a means of entertainment - a tool which is often present in the background of these photographs. Clip.It gives you the ability to link the two together, creating a stronger link to the treasured memory that those two tools help recall.
</p><br><br>

