<div id="new-clip">
  <h4>Create a clip</h4>
  <% unless user_signed_in? %>
    <p><i>Note: While certainly not necessary, creating <%= link_to "an account", new_user_registration_path %>
      will allow you to better keep track of all your clips.</i></p>
  <% end %>

  <%= render 'form' %>

  <%= link_to 'Back', root_url %>

</div>
