<div id="new-clip">
  <h4>Create a clip</h4>
  <p><i>Note: While certainly not necessary, creating <%= link_to "an account", new_user_registration_path %>
    will allow you to better keep track of all your clips.</i></p>

  <%= render 'form' %>

  <%= link_to 'Back', root_url %>

</div>
