// _clip_new
@media only screen and (max-width: 768px) {
  .image-column {
    max-width: auto;

    img {
      margin-left: 50%;
    }
  }

  .info-column .button {
    text-align: center;
  }

  #clip-show-video iframe {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .info-column .button {
      display: none;
  }

  #clip-show-video iframe {
  margin-left: -9999px;
  height: 100px;
}
}

.clip-container {
  .image-column, .info-column {
    float: left;
  }

  .image-column {
    max-width: 50%;

    img {
      -moz-box-shadow: 0 0 5px 5px #888;
      -webkit-box-shadow: 0 0 5px 5px#888;
      box-shadow: 0 0 5px 5px #888;
    }
  }

  .info-column {
    min-width: 300px;
    max-width: 50%;
    margin-top: 15%;

    #clip-title {
      font-size: 200%;
    }
  }

  .clip-song {
    margin-top: 1%;
  }

  .clip-body {
    margin-top: 10%;
  }
}

#example-button {
  text-align: center;
}

#create-button {
  text-align: center;
}


// clip/new

#clip_unique_url {
  float: right;
  width: 300px;
  margin-right: 230px;
}

#url {
  margin-top: 10px;
}

#photo {
  margin-top: 20px;
}

#song-select {
  margin-top: 20px;
}

#clip-description {
  margin-top: 50px;
}

#clip_body {
  height: 150px;
}

#photo-cta {
  position: relative;
  margin-top: 200px;
}


