// clip/new
#clip_unique_url {
  float: right;
  width: 300px;
  margin-right: 230px;
}

#url {
  margin-top: 10px;
}

#photo {
  margin-top: 20px;
}
#clip-description {
  margin-top: 50px;
}

#clip_body {
  height: 150px;
}

#photo-cta {
  position: relative;
  margin-top: 200px;
}

#clip_photo {
  background-color: gray;
  height: 400px;
  width: 720px;
}

#clip_photo input {
  margin-left: 9999999px;
}

// clip/id

#clip-title-perm {
  font-size: 20px;
}

