// _clip_new
.clip-container {
  .image-column, .info-column {
    float: left;
  }

  .image-column {
    max-width: 50%;

    img {
      -moz-box-shadow: 0 0 5px 5px #888;
      -webkit-box-shadow: 0 0 5px 5px#888;
      box-shadow: 0 0 5px 5px #888;
    }
  }

  .info-column {
    min-width: 300px;
    max-width: 50%;
    margin-top: 15%;

    a {
      font-size: 200%;
    }
  }

  .clip-song {
    margin-top: 1%;
  }

  .clip-body {
    margin-top: 10%;
  }
}


// _clip

#clip-container {
  position: absolute;
  margin-top: 8%;
  height: 100%;
  width: 100%;
}

#clip-info {
  position: relative;
  float: right;
  margin-top: 10%;
  margin-right: 15%;
}

#clip-show-title {
  position: relative;
  display: block;
  font-size: 30px;
}

#clip-show-song {
  display: block;
}

#clip-show-photo {
  width: 80%;
  margin: auto;
}

#clip-show-photo img {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  float: left;
}

#clip-show-body {
  width: 35%;
  margin-top: 18%;
  margin-right: 14.25%;
  float: right;
}

#clip-show-video {
  margin-left: -9999px;
  height: 100px;
}

// clip/new

#clip_unique_url {
  float: right;
  width: 300px;
  margin-right: 230px;
}

#url {
  margin-top: 10px;
}

#photo {
  margin-top: 20px;
}

#song-select {
  margin-top: 20px;
}

#clip-description {
  margin-top: 50px;
}

#clip_body {
  height: 150px;
}

#photo-cta {
  position: relative;
  margin-top: 200px;
}

#clip_photo {

}



