@media only screen and (max-width: 768px) {
  .row #why {
    max-width: auto;
  }

}

#home-wrapper {
  text-align: center;
  h3 {
    margin-top: -3%;
  }
}

.logo {
  margin-top: 0%;
  background: #474747;
}

.logo a {
  margin-left: 46%;
  color: white;
}

#greeting {
  float: right;
}

.home-wrapper h3 {
  margin-top: -10%;
}

#create-button {
  float: right;
  position: relative;
  margin-top: 0%;
  margin-right: 45%;
  text-align: center;
}
#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-width: 1px 0 0 1px;
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  color: #656565;
}

#menu-icon {
  position: relative;;
  margin-top: -4%;
  font-size: 30px;
  color: white;
}

#menu {
  text-indent: -9999px;
}

#jPanelMenu-menu {
  background: #474747;
}


