#home-nav {
  margin-top: 10px;
}

#greeting {
  float: right;
}

#footer {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-width: 1px 0 0 1px;
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  color: #656565;
}

