<header class="main">
    <h1 class="logo"><a href="." class="ss-list">Clip.It</a></h1>
    <a href="#menu" class="menu-trigger ss-icon" id="menu-icon">&#9776;</a>
    <nav id="menu">
      <ul>
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Why", why_path %></li>
        <li><%= link_to "Examples", example_path %></li>
      </ul>
    </nav>
  </header>

<div class="row">
  <div id="greeting">
    <% if user_signed_in? %>
     <p>Hey there, <%= current_user.email %>!</p>
    <% end %>
  </div>
</div>
